{% extends "layouts/base.html" %}

{% block title %} Template {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}



  <div class="container-fluid py-4">
    <form action="upload.php" method="post" enctype="multipart/form-data">
      Select image to upload:


      <select  name="printer">
        <option value="48">48</option>
        <option value="49">49</option>
        <option value="54">54</option>
        <option value="49">56</option>
      </select>


      <input type="file" name="fileToUpload" id="fileToUpload">
      <input type="submit" value="Upload Image" name="submit">
    </form>

    {% include 'includes/footer.html' %}

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
